<div class="container h-100"> 
  <div class="row h-100">
    <div class="col-4 mx-auto">
      <%= link_to "クイックルーム", public_room_path(@rooms[0]) %>
    </div>
    <div class="col-4 mx-auto">
      <%= link_to "スタンダードルーム", public_room_path(@rooms[1]) %>
    </div>
    <div class="col-4 mx-auto">
      <%= link_to "ディープルーム", public_room_path(@rooms[2]) %>
    </div>
  </div>
</div>
