<h1>COPOMO-学習継続支援型コミュニティ-</h1>

<h2>COPOMOとは</h2>
<p><strong>COPOMO</strong>はポモドーロタイマーを使用した学習継続支援コミュニティです</p>

<h2>ポモドーロタイマーとは</h2>
<p>25分間の集中作業+5分間の休憩」を1サイクル（1ポモドーロ）として繰り返し、</p>
<p>高い集中力と生産性を維持する時間管理術「ポモドーロ・テクニック」で使用するタイマーのことです。</p>
<p>このサイトでは利用者の学習スタイルに合わせて3つのモードを用意しています。</p>
<p>"スタンダード(25分+5分)"、"ディープ(45分+10分)"、"クイックモード(15分+3分)"</p>
<p>自分に合ったペースで、学習に取り組めます</p>

