<div class="container-fluid about-container d-flex flex-column flex-fill p-4">
  <div class = "row m-0 pt-5 pr-5 pl-5 pb-0"> 
    <div class = "col-7 site-title p-0">
      <h1 class="mb-2">COPOMO</h1>
      <h2 class="ml-3">〜学習継続支援型コミュニティ〜</h2>
    </div>
  </div>
  <div class = "row m-0 p-5">
    <div class = "col-7 site-hero p-0">
      <h3 class = "mb-3">COPOMOとは</h3>
      <p>ポモドーロタイマーを使用した学習継続支援型コミュニティです。</p>
      <p><strong>COPOMO</strong>の名前の由来は、「みんなで（CO）」+「ポモドーロ（POMO）」から作られました。</p>
      <p>仲間と一緒に学習時間を共有しながら、楽しく学習を続けられる環境を提供しています。</p>

      <p>自発的な学習は、明確な目標や強い意志がなければ継続が難しいことがあります。</p>
      <p>また、一人での学習は孤独になりやすく、途中で挫折してしまうこともあります。</p>
      <p><strong>COPOMO<strong>では、利用者全員が共通の目的を持ち、時間を共有することで、</p>
      <p>「やりたい」という気持ちを生む学習環境を作ることを目指しています。</p>
      <p>仲間と時間を共有することで、個人では得られない学習の相乗効果を生み出し、継続しやすい環境を提供しています。</p>

      <h3 class = "mt-5 mb-3">時間共有学習について</h3>
      <p>利用者は学習ルームに入り、全員で共通の時間管理のもとで学習を進めます。</p>
      <p>休憩時間に送信できる学習ルーム内チャットでは、おつかれさまやがんばろうといったエールを送り合うことで</p>
      <p>一人じゃ続けにくい学習も楽しく進められます</p>

      <h3 class = "mt-5 mb-3">学習記録について</h3>
      <p>学習終了後、学習記録を投稿することができます。</p>
      <p>学習記録を通じて過去の成果を振り返ることができ、日々の達成感やモチベーションから継続につながります。</p>
      <p>投稿した学習記録には、仲間からのコメントや「いいね」でフィードバックをもらえ、学習の楽しさを共有できます。</p>

      <h3 class = "mt-5 mb-3">ポモドーロタイマーとは</h3>
      <p>高い集中力と生産性を維持する時間管理術「ポモドーロ・テクニック」で使用するタイマーです。</p>
      <p>1サイクルは「集中作業 + 休憩」を繰り返す構成で、学習効率を最大化します。</p>
      <p>このサイトでは利用者の学習スタイルに合わせて3つの学習ルームを用意しています。</p>
      <p>自分に合ったペースで学習に取り組むことができます。</p>
      <ul class="mt-4 ml-3">
        <li class="mb-3">スタンダードルーム（25分 + 5分）</li>
        <li class="mb-3">ディープルーム（45分 + 10分）</li>
        <li>クイックルーム（15分 + 3分）</li>
      </ul>
    </div>
  </div>
</div>