<div class = "container">
  <div class = "row">
    <h1>COPOMO-学習継続支援型コミュニティ-</h1>
  </div>
  <div class = "row">
    <div class = "col-6">
    </div>
    <div class = "col-6">
      <p>新感覚の学習スタイルを。</p>
      <p>ポモドーロタイマー ✕ みんなで共有。</p>
      <p>集中も休憩も、ひとりじゃない。</p>
      <p><strong>COPOMO</strong>で、新しい自己学習を体験しよう。</p>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-sm w-25 mb-3" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-sm w-25 mb-3" %>
      <%= link_to "学習開始", new_user_session_path, class: "btn btn-info btn-sm w-25 mb-3" %>
    </div>
  </div>
</div>