
<div class="container-fluid top-container d-flex flex-column flex-fill p-5">
  <div class = "row">
    <div class = "col-12 site-title pb-5">
      <h1>COPOMO-学習継続支援型コミュニティ-</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col-12 site-hero">
      <h2>新感覚の学習スタイルを。</h2>
      <h2>ポモドーロタイマー ✕ みんなで共有。</h2>
      <h2>集中も休憩も、ひとりじゃない。</h2>
      <h2><strong>COPOMO</strong>で、新しい自己学習を体験しよう。</h2>
    </div>
  </div>
  <div class = "row mt-auto justify-content-end">
    <div class = "col-2 offset-6">
      <%= link_to new_user_registration_path, class: "btn btn-success btn-lg w-100 mb-3 py-5" do %>
        <i class="fa-solid fa-user-plus">  新規登録</i>
      <% end %>
    </div>
    <div class = "col-2">
      <%= link_to new_user_session_path, class: "btn btn-primary btn-lg w-100 mb-3 py-5" do %>
        <i class="fa-solid fa-right-to-bracket">  ログイン</i>
      <% end %>
    </div>
    <div class = "col-2">
      <%= link_to public_rooms_path, class: "btn btn-warning btn-lg w-100 mb-3 py-5" do %>
        <i class="fa-solid fa-pencil">  学習開始</i>
      <% end %>
    </div>
  </div>
</div>