@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 
      "Inter",                           /* 1. 欧文用（数字やアルファベットが綺麗） */
      "system-ui",                      /* 2. OS標準のUIフォント */
      "-apple-system",                  /* 3. iOS/Mac用 (San Francisco) */
      "BlinkMacSystemFont",             /* 4. 古いMac Chrome用 */
      "Hiragino Sans",                  /* 5. Mac/iOS用の高品質な日本語 */
      "Hiragino Kaku Gothic ProN",      /* 6. 古いMac用の予備 */
      "Segoe UI",                       /* 7. Windowsのシステムフォント */
      "Meiryo",                         /* 8. Windowsの予備 */
      "noto sans jp",                   /* 9. Googleフォント（読み込み設定が必要） */
      sans-serif;                       /* 10. 最終手段（ブラウザ標準のゴシック） */
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 1030;
}

.nav-item {
  display: flex;
  padding: 0; 
  margin: 0;
  height: 100%; 
}

.nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: black;
  font-size: large;
  text-decoration: none;

}

.nav-item :hover {
  color: #666;
  background-color: rgba(180, 230, 165, 1);
}

body.registrations-new,
body.sessions-new {
  background-color: rgb(253, 237, 237);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}

body.homes-top,
body.homes-about {
  background-image: 
    linear-gradient(
    to right,
    rgba(0,0,0,0.7) 0%,
    rgba(0,0,0,0.7) 50%,
    rgba(0,0,0,0.4) 60%,
    rgba(0,0,0,0) 70%
    ),url("../image/dog2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  
  .navbar-collapse.show .navbar-nav {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    width: 50%;
    margin-left: auto;
  }

  body.homes-top,
  body.homes-about {
    background-image: 
      linear-gradient(
        rgba(0,0,0,0.6),
      ), url("../image/dog2.jpeg");
  }
  
  .title-heading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

  
.bg-pale{
  background: rgba(248,249,250,0.5);
}



body.users-show {
  background-image: url("../image/watercolor_yellow.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.rooms-show,
body.study_records-edit {
  background-image: url("../image/watercolor_blue.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.study_records-show,
body.users-edit {
  background-image: url("../image/watercolor_pink.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.timeline-page,
.search-page {
  background-image: url("../image/watercolor_green.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.site-title,
.site-hero {
  color: white;
}

.about-body{
  color: white;
}

.quick-room{
  background: linear-gradient(
    to right,
    rgb(255, 255, 100) 0%,
    rgba(255, 255, 100, 0.7) 50%,
    rgba(255, 255, 100, 0.4) 70%,
    rgba(255, 255, 100, 0) 100%
  );
}
.standard-room{
  background: linear-gradient(
    to right,
    rgb(140, 255, 100) 0%,
    rgba(140, 255, 100, 0.7) 50%,
    rgba(140, 255, 100, 0.4) 70%,
    rgba(140, 255, 100, 0) 100%
  );
}
.deep-room{
  background: linear-gradient(
    to right,
    rgb(0, 140, 255) 0%,
    rgba(0, 140, 100, 0.7) 50%,
    rgba(0, 140, 100, 0.4) 70%,
    rgba(0, 140, 100, 0) 100%
  );
}
.quick-room a,
.standard-room a,
.deep-room a{
  color: black;
  font-size: 30px;
  text-decoration: none;
}
.quick-room a:hover,
.standard-room a:hover,
.deep-room a:hover{ 
  color: #666;

}

.simple-calendar {
  table-layout: fixed; 
  width: 100%;
}

.calendar-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.calendar-heading a {
  background-color: #17a2b8;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}


.simple-calender table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.simple-calendar th, 
.simple-calendar td {
  width: 14.28%; 
  word-break: break-all; 
}
.simple-calendar th {
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  background-color: #f8f9fa;
  font-weight: bold;
}

.simple-calendar td {
  height: 100px; 
  border: 1px solid #cccccc;
  vertical-align: top;
  padding: 0;
}

.calendar-day-header {
  padding: 5px; 
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-day-body {
  height: 70px;
  overflow-y: auto;
  padding: 2px;
}

.calendar-day-body::-webkit-scrollbar {
  width: 4px;
}

.calendar-day-body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.calendar-theme-breakdown{
  font-size: 10px;
}

.simple-calendar .today {
  background-color: #fffaaa;
}

.simple-calendar .day {
  font-weight: bold;
}

.liked {
  color: red
}

.not-liked {
  color: gray
}

.dashboard-card{
  aspect-ratio: 1 / 1;
  color: black;
  font-weight: bold;
}

.dashboard-card:hover {
  color: rgb(29, 156, 0);
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
  height: 5rem;
}