@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: verdana, arial, helvetica, sans-serif;*/
}

body {
  background-image: url("../image/dog2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  background-color: rgba(180, 230, 165,0.8);
  width: 100%;
  height: 5em;
}

footer {
  background-color: rgba(180, 230, 165,0.8);
  width: 100%;
  height: 5em;
}