@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width:769px) {
  body.homes-top h1,
  body.homes-about h1{
    font-size: 55px;
  }

  body.homes-top h2,
  body.homes-about h2{
    font-size: 30px;
  }

  body.homes-top h3,
  body.homes-about h3{
    font-size: 25px;
  }
}

@media screen and (max-width:768px) {
  body.homes-top h1,
  body.homes-about h1{
    font-size: 50px;
  }

  body.homes-top h2,
  body.homes-about h2{
    font-size: 25px;
  }

  body.homes-top h3,
  body.homes-about h3{
    font-size: 20px;
  }
}

@media screen and (max-width:576px) {
  body.homes-top h1,
  body.homes-about h1{
    font-size: 45px;
    text-align: center;
  }

  body.homes-top h2,
  body.homes-about h2{
    font-size: 20px;
    text-align: center;
  }

  body.homes-top h3,
  body.homes-about h3{
    font-size: 16px;
    text-align: center;
  }
}


body{
  font-family: 
      "Inter", 
      "system-ui", 
      "-apple-system", 
      "BlinkMacSystemFont", 
      "Hiragino Sans",
      "Hiragino Kaku Gothic ProN", 
      "Segoe UI",
      "Meiryo",
      "noto sans jp",
      sans-serif;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 1030;
}

.nav-item {
  display: flex;
  padding: 0; 
  margin: 0;
  height: 100%; 
}

.nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: black;
  font-size: large;
  text-decoration: none;

}

.nav-item :hover {
  color: #666;
  background-color: rgba(180, 230, 165, 1);
}

body.registrations-new,
body.sessions-new {
  background-color: rgb(253, 237, 237);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}

body.homes-top,
body.homes-about {
  background-image: 
    linear-gradient(
    to right,
    rgba(0,0,0,0.7) 0%,
    rgba(0,0,0,0.7) 50%,
    rgba(0,0,0,0.4) 60%,
    rgba(0,0,0,0) 70%
    ),url("../image/dog2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 992px) {
  
  .navbar-collapse.show .navbar-nav {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    width: 60%;
    margin-left: auto;
  }

  body.homes-top,
  body.homes-about {
    background-image: 
      linear-gradient(
        rgba(0,0,0,0.6),
      ), url("../image/dog2.jpeg");
  }
  
  .title-heading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

  
.bg-pale{
  background: rgba(248,249,250,0.5);
}



body.users-show {
  background-image: url("../image/watercolor_yellow.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.rooms-show,
body.study_records-edit {
  background-image: url("../image/watercolor_blue.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.study_records-show,
body.users-edit {
  background-image: url("../image/watercolor_pink.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.timeline-page,
.search-page {
  background-image: url("../image/watercolor_green.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.site-title,
.site-hero {
  color: white;
}

.about-body{
  color: white;
}

.quick-room{
  background: linear-gradient(
    to right,
    rgb(255, 255, 100) 0%,
    rgba(255, 255, 100, 0.7) 50%,
    rgba(255, 255, 100, 0.4) 70%,
    rgba(255, 255, 100, 0) 100%
  );
}
.standard-room{
  background: linear-gradient(
    to right,
    rgb(140, 255, 100) 0%,
    rgba(140, 255, 100, 0.7) 50%,
    rgba(140, 255, 100, 0.4) 70%,
    rgba(140, 255, 100, 0) 100%
  );
}
.deep-room{
  background: linear-gradient(
    to right,
    rgb(0, 140, 255) 0%,
    rgba(0, 140, 100, 0.7) 50%,
    rgba(0, 140, 100, 0.4) 70%,
    rgba(0, 140, 100, 0) 100%
  );
}
.quick-room a,
.standard-room a,
.deep-room a{
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.quick-room a:hover,
.standard-room a:hover,
.deep-room a:hover{ 
  color: #666;
}

.user-show-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.user-show-link:hover {
  text-decoration:none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}





.simple-calendar {
  table-layout: fixed; 
  width: 100%;
}

.calendar-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.calendar-heading a {
  background-color: #17a2b8;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.simple-calender table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.simple-calendar th, 
.simple-calendar td {
  width: 14.28%; 
  word-break: break-all; 
}
.simple-calendar th {
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  background-color: #f8f9fa;
  font-weight: bold;
}

.simple-calendar td {
  height: 100px; 
  border: 1px solid #cccccc;
  vertical-align: top;
  padding: 0;
}

.calendar-day-header {
  padding: 5px; 
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-day-body {
  height: 70px;
  overflow-y: auto;
  padding: 2px;
}

.calendar-day-body::-webkit-scrollbar {
  width: 4px;
}

.calendar-day-body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.calendar-theme-breakdown{
  font-size: 10px;
}

.simple-calendar .today {
  background-color: #fffaaa;
}

.simple-calendar .day {
  font-weight: bold;
}
@media screen and (max-width:768px) {

}

@media screen and (max-width:576px) {
  .calendar-heading {
    gap: 20px;
    font-size: 25px;
  }
  .calendar-heading a {
    padding: 2px 5px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: normal;
  }

  .calendar-day-header{
    font-size: 8px;
    padding: 2px; 
  }
  .calendar-theme-breakdown{
    font-size: 5px;
  }
  .simple-calendar td {
    height: 40px; 
  }
  .calendar-day-body {
    height: 40px;
  }
}
.liked {
  color: red
}

.not-liked {
  color: gray
}

.dashboard-card{
  aspect-ratio: 1 / 1;
  color: black;
  font-weight: bold;
}

.dashboard-card:hover {
  color: rgb(29, 156, 0);
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
  height: 5rem;
}
