@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: verdana, arial, helvetica, sans-serif;*/
}

body.registrations-new {
  background-image: url("../image/sign_up_in.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.signup-card {
  width: 100%;
  max-width: 420px; 
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
}

body.homes-top,
body.homes-about {
  background-image: url("../image/dog2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-direction: column;  
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  height: 5rem;
}


.header-list a{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  color: black;
  font-size: large;
  text-decoration: none;

}

.header-list a:hover {
  color: #666;
  background-color: rgba(180, 230, 165,1);
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
  height: 5rem;
}