@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: verdana, arial, helvetica, sans-serif;*/
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

body.homes-top,
body.homes-about {
  background-image: url("../image/dog2.jpeg");

}

header {
  background-color: rgba(180, 230, 165,0.8);
  min-height: 5em;
}

.header-list {
  height: 100%;
}

.header-list a{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  color: black;
  font-size: large;
  text-decoration: none;

}

.header-list a:hover {
  color: #666;
  background-color: rgba(180, 230, 165,1);
}

footer {
  background-color: rgba(180, 230, 165,0.8);
  width: 100%;
  min-height: 5em;
}