@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: verdana, arial, helvetica, sans-serif;*/
}


header {
  background-color: rgba(255, 255, 255, 0.8);
  height: 5rem;
}

.header-list a{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  color: black;
  font-size: large;
  text-decoration: none;

}

.header-list a:hover {
  color: #666;
  background-color: rgba(180, 230, 165, 1);
}


body.registrations-new,
body.sessions-new {
  background-color: rgb(253, 237, 237);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}

body.homes-top,
body.homes-about {
  background-image: 
    linear-gradient(
    to right,
    rgba(0,0,0,0.7) 0%,
    rgba(0,0,0,0.7) 50%,
    rgba(0,0,0,0.4) 60%,
    rgba(0,0,0,0) 70%
    ),url("../image/dog2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.site-title,
.site-hero {
  color: white;
}

.about-body{
  color: white;
}

.quick-room{
  background: linear-gradient(
    to right,
    rgb(255, 255, 100) 0%,
    rgba(255, 255, 100, 0.7) 50%,
    rgba(255, 255, 100, 0.4) 70%,
    rgba(255, 255, 100, 0) 100%
  );
}
.standard-room{
  background: linear-gradient(
    to right,
    rgb(140, 255, 100) 0%,
    rgba(140, 255, 100, 0.7) 50%,
    rgba(140, 255, 100, 0.4) 70%,
    rgba(140, 255, 100, 0) 100%
  );
}
.deep-room{
  background: linear-gradient(
    to right,
    rgb(0, 140, 255) 0%,
    rgba(0, 140, 100, 0.7) 50%,
    rgba(0, 140, 100, 0.4) 70%,
    rgba(0, 140, 100, 0) 100%
  );
}
.quick-room a,
.standard-room a,
.deep-room a{
  color: black;
  font-size: 30px;
  text-decoration: none;
}
.quick-room a:hover,
.standard-room a:hover,
.deep-room a:hover{ 
  color: #666;

}


footer {
  background-color: rgba(255, 255, 255, 0.8);
  height: 5rem;
}