<%if @model == "user" %>
  <h3>ユーザー名「<%= @content %>」の検索結果</h3>
<% elsif @model == "study_theme" %>
  <h3>学習テーマ名「<%= @content %>」の検索結果</h3>
  <% render "public/study_records/timeline", records: @records %>
<% end %> 