<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <div class = "users-index">
        <%= link_to "ユーザ一覧", admin_users_path %>
      </div>
      <div class = "study-records-index">
        <%#= link_to "学習記録一覧", admin_study_records_path %>
      </div>
      <div class = "comments-index">
        <%#= link_to "コメント一覧", admin_comments_path %>
      </div>
      <div class = "study-category-index">
        <%#= link_to "学習カテゴリ一覧", admin_study_categories_path %>
      </div>
      <div class = "comments-index">
        <%#= link_to "スタンプ一覧", admin_stamps_path %>
      </div>
      <div class = "comments-index">
        <%#= link_to "学習ルーム管理", admin_rooms_path %>
      </div>
    </div>
  </div>
</div>